In [14]:
#import packages
import pandas as pd
from pandas import DataFrame
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [15]:
#define dataset
df = (r'C:\Users\abrah\Documents\Data analysis projects\Credit Card defaults\UCI_Credit_Card.csv')
pd.read_csv(df)
df1= pd.read_csv(df)
df1.shape

(30000, 25)

In [16]:
#check for null values
df1.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [17]:
#There is no null values in the dataset

In [21]:
#For Education, Combine values 0, 4, 5, 6 defined as others collectively into 1 category and name it 4.

fill = (df1.EDUCATION == 0) | (df1.EDUCATION == 5) | (df1.EDUCATION == 6)
df1.loc[fill, 'EDUCATION'] = 4
print('EDUCATION ' + str(sorted(df1['EDUCATION'].unique())))

EDUCATION [1, 2, 3, 4]